<div class="all-trips">
    <div class="sidebar">
        <a routerLink="/"><img src="./assets/logo.svg" alt="logo"></a>
        <div class="sidebar-items">
            <div class="sidebar-item">
                    <a routerLink="/dashboard">
                        <i class="fa-solid fa-list"></i>
                        <span>Dashboard</span>
                    </a>
            </div>
            <div class="sidebar-item">
                    <a routerLink="/all-trips">
                        <i class="fa-solid fa-eye"></i>
                        <span>All Trips</span>
                    </a>
            </div>
            <div class="sidebar-item">
                    <a routerLink="/create-trip">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span>New Trip</span>
                    </a>
            </div>
            <div class="sidebar-item">
                    <a routerLink="/">
                        <i class="fa-solid fa-user"></i>
                        <span>Log Out</span>
                    </a>
            </div>
        </div>   
    </div>

    <div class="all-trips-content">
        <div class="all-trips-heading">
            <h1>All Trips</h1>
            <img src="./assets/Avatar.png" alt="avatar" class="profile-pic">
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input 
                type="text" 
                placeholder="Search for created trips" 
                [(ngModel)]="searchTerm" 
                (input)="filterTrips()">
        </div>

        <div class="card-container">
            <div class="card" *ngFor="let trip of filteredTrips" [routerLink]="['/trip', trip.id]">
                <div class="card-image" [ngStyle]="{'background-image': 'url(' + trip.images[0] + ')'}">
                    <div class="card-header">{{ trip.status }}</div>
                </div>
                <div class="card-content">
                    <h3>{{ trip.title }}</h3>
                    <div class="card-item">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span class="trip-date">{{ trip.startDate | date:'d MMM' }} - {{ trip.endDate | date:'d MMM' }}</span>
                    </div>
                    <div class="card-item">
                        <i class="fa-solid fa-user-group"></i>
                        <span class="trip-people">{{ trip.peopleQuantity }} people going</span>
                    </div>
                    <!-- <div class="card-item">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="trip-date">{{ trip.days.length }} places to visit</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


