<div class="dashboard">
    <div class="sidebar">
        <a routerLink="/"><img src="./assets/logo.svg" alt="logo"></a>
        <div class="sidebar-items">
            <div class="sidebar-item">
                    <a routerLink="/dashboard">
                        <i class="fa-solid fa-list"></i>
                        <span>Dashboard</span>
                    </a>
            </div>
            <div class="sidebar-item">
                    <a routerLink="/dashboard">
                        <i class="fa-solid fa-eye"></i>
                        <span>All Trips</span>
                    </a>
            </div>
            <div class="sidebar-item">
                    <a routerLink="/dashboard">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span>New Trip</span>
                    </a>
            </div>
            <div class="sidebar-item">
                    <a routerLink="/dashboard">
                        <i class="fa-solid fa-user"></i>
                        <span>Profile</span>
                    </a>
            </div>
        </div>   
    </div>

    <div class="dashboard-content">
        <div class="dashboard-heading">
            <h1>Create New Trip</h1>
            <img src="./assets/Avatar.png" alt="avatar" class="profile-pic">
        </div>

        <form (ngSubmit)="onSubmit()" class="trip-form">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="trip.title" name="title" placeholder="Title" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <input matInput [(ngModel)]="trip.status" name="status" placeholder="Status" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [(ngModel)]="trip.startDate" name="startDate" type="date" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [(ngModel)]="trip.endDate" name="endDate" type="date" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>People Quantity</mat-label>
                <input matInput [(ngModel)]="trip.peopleQuantity" name="peopleQuantity" type="number" placeholder="People Quantity" required />
            </mat-form-field>

            <div>
                <label for="images">Upload Images</label>
                <input type="file" id="images" (change)="onImageSelect($event)" multiple />
                <div *ngIf="trip.images.length">
                <div *ngFor="let image of trip.images">
                    <img [src]="image" alt="Image preview" width="100" />
                </div>
                </div>
            </div>

            <div>
                <label for="memoryImages">Upload Memory Images</label>
                <input type="file" id="memoryImages" (change)="onMemoryImageSelect($event)" multiple />
                <div *ngIf="trip.memoryImages.length">
                <div *ngFor="let memoryImage of trip.memoryImages">
                    <img [src]="memoryImage" alt="Memory Image preview" width="100" />
                </div>
                </div>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Latitude</mat-label>
                <input type="number" matInput [(ngModel)]="trip.coordinates.lat" name="lat" id="lat" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Longitude</mat-label>
                <input type="number"  matInput [(ngModel)]="trip.coordinates.lng" name="lng" id="lng" required/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label >Days Information</mat-label >
                <textarea matInput  [(ngModel)]="trip.days" name="days" id="days"></textarea>
            </mat-form-field>

            <button type="submit">{{ isEditMode ? 'Update Trip' : 'Create Trip' }}</button>
            </form>
    </div>


</div>



