<div class="login">
  <div class="login-container">
    <div class="form-wrapper">
      <div class="login-heading">
        <h1>Sign Up</h1>
        <a routerLink="/">Go Back</a>
      </div>
      
      <form (ngSubmit)="onSignUp()" class="login-form">
        <input type="text" placeholder="Your Name" [(ngModel)]="name" name="name" required>
        <input type="email" placeholder="Your Email Address" [(ngModel)]="email" name="email" required>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        <button type="submit" class="btn-primary">Sign Up</button>
      </form>
      
      <div class="option"><span>or sign up via</span></div>
      <button class="social-btn google-btn">
        <i class="fab fa-google"></i> Continue with Google
      </button>
      <button class="social-btn facebook-btn">
        <i class="fab fa-facebook-f"></i> Continue with Facebook
      </button>
    </div>  
  </div>
  
  <div class="login-img">
    <img src="./assets/signup-pic.avif" alt="signup-pic">
  </div>
</div>

